@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DungGeunMo";
  src: url("/assests/DungGeunMo.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/assests/PressStart2P-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  color: white;
  font-family: "DungGeunMo", sans-serif;
  cursor: none;
}

@layer components {
  .flex-center {
    @apply flex flex-col justify-center items-center;
  }
  .flex-between {
    @apply flex flex-col justify-between items-center;
  }
  .flex-start {
    @apply flex flex-col justify-start items-center;
  }
  .flex-items-start {
    @apply flex flex-col justify-center items-start;
  }
  .flex-row-center {
    @apply flex justify-center items-center;
  }
  .border-button {
    @apply border-b-black border-r-black border-2;
  }
  .border-button-pushed {
    @apply border-t-black border-l-black border-2;
  }
  .border-input {
    @apply border-t-black border-l-black border-2;
  }
  .border-menu {
    @apply border-t-2 border-b-8 border-black border-0;
  }
}

@keyframes drawFromTop {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.slide-fade-in {
  animation: drawFromTop 2s steps(4) forwards;
}

.slide-fade-in-image {
  animation: drawFromTop 4s steps(4) forwards;
}

.slide-fade-in-video {
  animation: drawFromTop 6s steps(4) forwards;
}
