@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DungGeunMo";
  src: url("/assests/DungGeunMo.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/assests/PressStart2P-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  color: white;
  font-family: "DungGeunMo", sans-serif;
}

@layer components {
  .flex-center {
    @apply flex flex-col justify-center items-center;
  }
  .flex-between {
    @apply flex flex-col justify-between items-center;
  }
  .flex-start {
    @apply flex flex-col justify-start items-center;
  }
  .flex-items-start {
    @apply flex flex-col justify-center items-start;
  }
  .flex-row-center {
    @apply flex justify-center items-center;
  }
  .border-button {
    @apply border-b-black border-r-black border-2;
  }
  .border-button-pushed {
    @apply border-t-black border-l-black border-2;
  }
  .border-input {
    @apply border-t-black border-l-black border-2;
  }
  .border-menu {
    @apply border-t-2 border-b-8 border-black border-0;
  }
}
